/myDML/.idea/workspace.xml
/myDML/__pycache__/myDML.cpython-35.pyc
/myDML/__pycache__/nca.cpython-35.pyc

/myDML/__pycache__/randnca.cpython-35.pyc
/ReadMe.dvi
/ReadMe.log
/ReadMe.tex
/ReadMe.aux
texput.log
/hidden_markov_model/assign2_code_v2.zip
/hidden_markov_model/assign2_report.bbl
/hidden_markov_model/assign2_report.blg
/hidden_markov_model/assign2_report.log
/hidden_markov_model/assign2_report.synctex.gz
/metric_learning/ReadMe.aux
/metric_learning/ReadMe.bbl
/metric_learning/ReadMe.blg
/metric_learning/ReadMe.dvi
/metric_learning/ReadMe.log
/metric_learning/ReadMe.synctex.gz
/reinforcement_learning/code/venv
/pdf/
